name: Refresh YRT Feed
on:
  schedule:
    - cron: 0 6 * * 0-6
  workflow_dispatch:
permissions:
  contents: write
jobs:
  refresh-feed:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fetch YRT Route List
        uses: JamesIves/fetch-api-data-action@v2
        with:
          endpoint: https://tripplanner.yrt.ca/TI_FixedRoute_Line
          retry: true
          set-output: true
          configuration: |
            {
              "method": "POST",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": {
                "version": "1.1",
                "method": "GetLines"
              }
            }
          save-name: yrt-routes
      - name: Commit and push data
        run: |
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"

          # Copy/move the generated file into the target folder
          mkdir -p data
          cp -r fetch-api-data-action/* data/

          # Stage and commit changes
          git add data
          git commit -m "Update YRT fetched data" || echo "No changes to commit"
          git push origin main


  crawl-yrt-stops:
    runs-on: ubuntu-latest
    needs: refresh-feed
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}-crawl
          restore-keys: |
            ${{ runner.os }}-pip-crawl-
      - name: Install dependencies
        working-directory: ./crawling
        run: pip install -r requirements.txt
      - name: Crawl YRT Stops
        working-directory: ./crawling
        run: python yrt-stops.py
      - name: Commit and push changes
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add -A
          if ! git diff-index --quiet HEAD; then
            git commit -m "Update YRT stops data"
            git push
          else
            echo "No changes to commit"
          fi
